@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
	--color-vvook-yellow: #faff00;
	--color-vvook-black: #080808;
	--color-vvook-grey: #C3BEBE;
	--color-vvook-lightgrey: #d9d9d9;
	--font-logo: var(--font-bebas), sans-serif;
	--font-display: var(--font-anonymous), monospace;
	--font-menu: var(--font-dm), monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
}
